<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM"/>
    <application
        android:theme="@style/Theme.CampusOS"
        android:label="CampusOS"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:allowBackup="false"
        android:supportsRtl="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity-alias android:name=".ForestLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_forest" android:roundIcon="@drawable/ic_launcher_forest" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".OceanLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_ocean" android:roundIcon="@drawable/ic_launcher_ocean" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MintLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_mint" android:roundIcon="@drawable/ic_launcher_mint" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".SkyLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_sky" android:roundIcon="@drawable/ic_launcher_sky" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".LavenderLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_lavender" android:roundIcon="@drawable/ic_launcher_lavender" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".PlumLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_plum" android:roundIcon="@drawable/ic_launcher_plum" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".RoseLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_rose" android:roundIcon="@drawable/ic_launcher_rose" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".CoralLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_coral" android:roundIcon="@drawable/ic_launcher_coral" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".SunsetLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_sunset" android:roundIcon="@drawable/ic_launcher_sunset" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".AmberLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_amber" android:roundIcon="@drawable/ic_launcher_amber" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".TealLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_teal" android:roundIcon="@drawable/ic_launcher_teal" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <activity-alias android:name=".MonoLauncher" android:enabled="false" android:exported="true" android:icon="@drawable/ic_launcher_mono" android:roundIcon="@drawable/ic_launcher_mono" android:targetActivity=".MainActivity">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity-alias>
        <receiver android:name=".CampusReminderReceiver" android:exported="false"/>
        <receiver android:name=".CampusWidgetTickReceiver" android:exported="false"/>
        <receiver android:name=".CampusBootReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.TIME_SET"/>
                <action android:name="android.intent.action.TIMEZONE_CHANGED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".CampusSuggestionsWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_suggestions_info"/>
        </receiver>
        <receiver android:name=".CampusNextClassWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_next_class_info"/>
        </receiver>
        <receiver android:name=".CampusTaskWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_task_info"/>
        </receiver>
        <receiver android:name=".CampusScheduleWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_schedule_info"/>
        </receiver>
        <receiver android:name=".CampusOverviewWidgetProvider" android:exported="true">
            <intent-filter><action android:name="android.appwidget.action.APPWIDGET_UPDATE"/></intent-filter>
            <meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_overview_info"/>
        </receiver>
    </application>
</manifest>
